---
Checks:          '-clang-diagnostic-*,bugprone-*,clang-analyzer-*,concurrency-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-readability-identifier-length,-readability-braces-around-statements,-readability-magic-numbers,-modernize-use-trailing-return-type,-readability-isolate-declaration,-misc-non-private-member-variables-in-classes,-bugprone-easily-swappable-parameters'
WarningsAsErrors: ''
FormatStyle:     file
CheckOptions:
  - key:             readability-uppercase-literal-suffix.NewSuffixes
    value:           'f'
  - key:             readability-identifier-length.IgnoredParameterNames
    value:           '^[a-z]_?$'
...

