[submodule "argh"]
	path = argh
	url = https://github.com/adishavit/argh.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "tinyexr"]
	path = tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "aixlog"]
	path = aixlog
	url = https://github.com/badaix/aixlog.git
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "math"]
	path = math
	url = https://github.com/robin-lind/lucmath.git
